@CHARSET "UTF-8";

body {
	margin:0;
}

form {
	margin-bottom: 0;
}
input {
	margin-bottom: 0;
}
table {
	margin: 10px;
	padding: 20px;
}
h4 {
	margin-bottom: 0;
	display:inline-block;
	padding:0 13px;
}
h5 {
	margin-bottom:0;
}
.loginTitle {
	text-align:center;
	padding-top:40px;
}
.errorMessages {
	color:red;
}
.header {
	width:100%;
}
.links {
	display:inline-block;
	text-align:center;
}
.home-tran {
	padding:0 13px;
}
.contribution-tran {
	padding:0 13px;
}
.management-tran {
	padding:0 13px;
}
.logout-tran {
	padding:0 13px;
}
.signup-tran {
	padding:0 13px;
}
.main-contents {
	margin: 0 20%;
	background: white;
}
.contributions {
	word-break:break-word;
}
.commentList {
	display:none;
}
.comment {
	 word-break: break-word;
}

.signupForm {
	margin-left: 0;
    padding: 20px;
    margin: 10px;
}
.contributionForm {
	padding: 20px;
    margin: 10px;
}
.editForm {
	padding: 20px;
    margin: 10px;
}
.loginForm {
	padding: 20px;
    margin: 10px;
    text-align:center;
}
.shadow {
	border: 1px solid #E6EAEE;
}
input.button-submit{
	background: #33C3F0;
	border-color: #33C3F0;
	color: white;
	margin:10px;

}
input.button-delete {
	background: #F67272;
	border-color: #F67272;
	color: white;
	margin:10px;
}
input.button-stop {
	background: #F7F39A;
	border-color: #F7F39A;
	color: white;
	margin:10px;
}
input.button-revive {
	background: #A3DE83;
	border-color: #A3DE83;
	color: white;
	margin:10px;
}
.note {
	display: inline-block;
	margin-bottom: 0;

}
.subnote {
	display: inline-block;
}


.side-menu {
	margin: 10px;
	padding: 20px;
}
.contributions {
	padding: 20px;
    margin: 10px;
}
.contribution {
	padding: 20px;
    margin: 10px;
}

.form1 {
	display: inline-block;
}

.form2 {
	display: inline-block;
}

.narrowCategory {
	display: inline-block;
}

.narrowDate {
	display: inline-block;
}
.start {
	display: inline-block;
}
.end {
	display: inline-block;
}

.sort {
	display: inline-block;
}

.Cview .commentList {
	display: block;
}